In [3]:
num1 = int(input("Enter First Number"))
num2 = int(input("Enter Second Number"))

if num1>num2:
    print('Number1 is Greater than Number2')
    
else:
    print("Number1 is Smaller than Number2")

Enter First Number2
Enter Second Number4
Number1 is Smaller than Number2

In [18]:
# uisng if else statement check number is even or odd
num = int(input("Enter Number : "))

if num%2 == 0:
    print("Number is Even")
else:
    print("Number is odd")

Enter Number : 5
Number is odd

In [21]:
# Getting Last digit of a number input by the user
int(input("Enter a Number : ")[-1])

Enter a Number : 568

8

In [41]:
name = input("Enter Your Name : ")
if len(name)>10:
    print("Your name's Length is ",len(name),"Please Use a name that's length is 10 or less")
    
else:
    print(name)
    print(len(name))

Enter Your Name : ShahzadAhmad
Your name's Length is  12 Please Use a name that's length is 10 or less

In [43]:
import random

import random

In [44]:
import random

In [51]:
# Guess A NUMBER AND COMPARE WITH A RANDOM NUMBER 
guess = int(input("Enter a number 1-10"))
num = random.randint(1,10)
if guess == num:
    print(f"you guessed {guess} You won")
else:
    print(f"You guessed {guess} but luck number was {num} . Try Again")

Enter a number 1-105
you guessed 5 You wom

In [61]:
amount = int(input("enter your amount here "))

if amount>1000:
    print("Mutton")
elif amount>500:
    print("Eggs")
else:
    print("Roza")

enter your amount here 1200
Mutton

In [66]:
height = float(input("enter your height "))

if height>6:
    print("Tall")
elif height>=5:
    print("Average")
else:
    print("Small")

enter your height 6.2
Tall

In [74]:
salary = int(input("Enter Salary "))
service_Years = int(input("Enter Service Years "))


if service_Years>15:
    bonus = salary*.15
    
elif service_Years>10:
    bonus = salary*.10
    
elif service_Years>5:
    bonus = salary*.5
    
else:
    bonus = salary*0
    
print(int(salary))
print(int(bonus))
print(int(salary+bonus))

Enter Salary 5220
Enter Service Years 15
5220
522
5742

In [80]:
units = int(input("Enter the Unit of Electricity "))

if units>300:
    if units<=
    bill = units*15

elif units <=300:
         bill = units*10
        
    
elif units <= 100:
    bill = units*5
    
print(units)
print(bill)

Enter the Unit of Electricity 100
100
1000

In [85]:
units = int(input("Enter Unit"))

if units <= 100:
    bill = units*5
elif units <= 300:
    bill = 100*5 + (units-100)*10
else:
    bill = 100*5 + 200*10 +(units-300)*15
print(f"You have consumed {units} and Your Bill is {bill}")

Enter Unit301
You have consumed 301 and Your Bill is 2515

In [95]:
name = input("Enter your Name ")
roll = int(input("Enter your roll no "))
year = int(input("Enter Your Year "))
cls = int(input("Enter your class "))
eng = int(input("Enter Your Eng Marks "))
gk = int(input("Enter Your Eng Marks "))
math = int(input("Enter Your Eng Marks "))
urdu = int(input("Enter Your Eng Marks "))
state = int(input("Enter Your state Marks "))
history = int(input("Enter Your history Marks "))

total = eng+gk+math+urdu+state+history
                    
per = total/600*100

if eng>=50:
    status='Pass'
    if urdu>=50:
        status='Pass'
        if gk>=50:
            status='Pass'
            if math>=50:
                status='Pass'
                if state>=50:
                    status='Pass'
                    if history>=50:
                        status='Pass'
                    else:
                        status='Fail'
                else:
                    status='Fail'
            else:
                status='Fail'
        else:
            status='Fail'
    else:
        status='Fail'
else:
    status='Fail'

print(f''' 
                ABC School Karachi
                __________________
                
        name: {name}
        roll: {roll}
        class: {cls}
        year: {year}
        
        English: {eng}
        Maths :  {math}
        States : {state}
        GKn :    {gk}
        Urdu :   {urdu}
        History : {history}
        
        
        Total : {total}
        
        Percentage : {per}
        
        Status : {status}





''')

Enter your Name Shahzad
Enter your roll no 568
Enter Your Year 2023
Enter your class 5
Enter Your Eng Marks 12
Enter Your Eng Marks 58
Enter Your Eng Marks 65
Enter Your Eng Marks 84
Enter Your state Marks 97
Enter Your history Marks 80

                ABC School Karachi
                __________________

        name: Shahzad
        roll: 568
        class: 5
        year: 2023

        English: 12
        Maths :  65
        States : 97
        GKn :    58
        Urdu :   84
        History : 80


        Total : 396

        Percentage : 66.0

        Status : Fail

for a in range(10)
    print(a)

In [103]:
for a in range(1,10):
    if a == 9:
        continue
    else:
        print(a, "Hello")

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello

In [105]:
for a in range(1,10):
    if a == 4:
        break
    else:
        print(a, "Hello")

1 Hello
2 Hello
3 Hello

In [121]:
students = ['saad', 'ahmad', 'abdullah', 'salman']
for student in students:
    print(student.upper())

SAAD
AHMAD
ABDULLAH
SALMAN

In [130]:
students = ['saad', 'hassan', 'bilal', 'toqeer']
for student in students:
    if student.lower().count('a')>=2:
        print(student.upper())
    else:
        print(student)

SAAD
HASSAN
bilal
toqeer

In [134]:
email_ids = ['shahzad@gmail.com','bilal@gmail.com',"xyz@gmail.com"]
for email in email_ids:
    print(email.split("@")[0])

shahzad
bilal
xyz

In [137]:
numbers = [1,2,3,4,5,6,7,8,9]
sqr = [ num**2  for num in numbers]
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [153]:
numbers = [1,2,3,4,5,6,7,8,9]
squred = []
cubed = []
for num in numbers:
    if num%2 ==0:
        squre = num**2
        squred.append(squre)
    else:
        cube = num**3
        cubed.append(cube)

In [160]:
numbers = [1,2,3,4,5,6,7,8,9]
sqr = [ num**2  for num in numbers if num%2==0  ]
sqr

[4, 16, 36, 64]

In [161]:
# in a single line when use only if then you can use after for if if and alse then use it
#before for loop
numbers = [1,2,3,4,5,6,7,8,9]
sqr = [ num**2 if num%2==0 else num**3 for num in numbers   ]
sqr

[1, 4, 27, 16, 125, 36, 343, 64, 729]