In [7]:
my_dict = {'Leptop':40000, 'Mouse':500, 'Keyboard':700}

In [10]:
my_dict

{'Leptop': 40000, 'Mouse': 500, 'Keyboard': 700}

In [11]:
my_dict['Mouse']

500

In [12]:
my_dict['Leptop']

40000

In [15]:
my_dict['Keyboard']

700

In [16]:
my_dict.items()

dict_items([('Leptop', 40000), ('Mouse', 500), ('Keyboard', 700)])

In [17]:
my_dict.values()

dict_values([40000, 500, 700])

In [18]:
my_dict.keys()

dict_keys(['Leptop', 'Mouse', 'Keyboard'])

# Delete elements from a dictionary
 - pop
 - pop items
 - del

In [22]:
# Deleting an item from the dictionary using del 
del my_dict['Keyboard']

KeyError: 'Keyboard'

In [20]:
my_dict

{'Leptop': 40000, 'Mouse': 500}

In [23]:
my_dict

{'Leptop': 40000, 'Mouse': 500}

In [25]:
# Deleting an item using pop fun
my_dict.pop('Mouse')

500

In [26]:
my_dict

{'Leptop': 40000}

In [27]:
record = {'leptop': 5000, 'keyboard': 500, 'mouse': 700}

In [28]:
record

{'leptop': 5000, 'keyboard': 500, 'mouse': 700}

In [29]:
# deleting an item using popitem function from last of the dictionary
record.popitem()

('mouse', 700)

record.popitem()

In [31]:
record1 = {}

In [32]:
record1['name']= "Ali"

In [33]:
record1

{'name': 'Ali'}

In [34]:
record1['name'] = 'Ali', 'Ahmad'

In [37]:
record1

{'name': ('Ali', 'Ahmad')}

In [38]:
record1.popitem()

('name', ('Ali', 'Ahmad'))

In [39]:
record1

{}

In [40]:
record1['name', 'email'] = 'Ali', 'sss@ss.com'

In [41]:
record1

{('name', 'email'): ('Ali', 'sss@ss.com')}

In [42]:
record1.popitem()

(('name', 'email'), ('Ali', 'sss@ss.com'))

In [43]:
record1['Name'] = 'Ali'

In [44]:
record1

{'Name': 'Ali'}

In [45]:
record1['Email'] = 'ali@gmail.com'

In [46]:
record1

{'Name': 'Ali', 'Email': 'ali@gmail.com'}

In [47]:
temp_dic = {1;1,2:8,3:22,2:200}

SyntaxError: invalid syntax (<ipython-input-47-df6bd1943b95>, line 1)

In [48]:
temp_dic = {1:1,2:22,3:33}

In [49]:
temp_dic1 = {1:1,2:22,3:33,1:100}

In [50]:
temp_dic1

{1: 100, 2: 22, 3: 33}

In [51]:
temp_dic1[1]

100

In [52]:
temp_dic1.items()

dict_items([(1, 100), (2, 22), (3, 33)])

In [54]:
dict1 = {'name':'Ahmad', 'Course':'Data Science'}

In [55]:

dict1

{'name': 'Ahmad', 'Course': 'Data Science'}

In [56]:
dict1.update({'contact':'1234567', 'Address':'Karachi'})

In [57]:
dict1

{'name': 'Ahmad',
 'Course': 'Data Science',
 'contact': '1234567',
 'Address': 'Karachi'}

In [58]:
dict1.fromkeys('contact')

{'c': None, 'o': None, 'n': None, 't': None, 'a': None}

In [59]:
dict1.fromkeys('c')

{'c': None}

In [63]:
dict2 = dict1.fromkeys('Ahmad')

In [64]:
dict2

{'A': None, 'h': None, 'm': None, 'a': None, 'd': None}

In [65]:
temp_dic = {1:1,2:22,3:33}

In [67]:
temp_dic.fromkeys('1')

{'1': None}

In [74]:
dict3 = {'a','b','c'}
number = 2

In [69]:
dict3

{'a', 'b', 'c'}

In [75]:
dict.fromkeys(dict3,number)

{'a': 2, 'b': 2, 'c': 2}

In [76]:
d = dict([
    ('foo',100)
])

In [77]:
d

{'foo': 100}

In [78]:
 d = {
     ('foo',100)
 }

In [79]:
d

{('foo', 100)}

In [80]:
x = [
    'a',
    'b',
    {
        'foo':1,
        'bar':{
            'x':10,
            'y':20,
            'z':30
        },
        'baz':3
    },
    'c',
    'd',
]

x[2]['bar']['z']

30

In [81]:
d = {1:'len'}

In [82]:
d

{1: 'len'}

In [83]:
d = {'len':2}

In [84]:
d

{'len': 2}

In [86]:
aset = {1,2,3}
bset = {2,1,4,5,6}

In [88]:
aset.union(bset)

{1, 2, 3, 4, 5, 6}

In [89]:
aset.symmetric_difference(bset)

{3, 4, 5, 6}

In [90]:
bset.symmetric_difference(aset)

{3, 4, 5, 6}

In [91]:
aset | bset

{1, 2, 3, 4, 5, 6}

In [92]:
aset.issubset(bset)

False

In [93]:
bset.issubset(aset)

False

In [95]:
aset.add(9)

In [96]:
aset

{1, 2, 3, 9}

In [97]:
aset.intersection(bset)

{1, 2}

In [98]:
bset.intersection(aset)

{1, 2}

In [99]:
bset.clear()