# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Welcome to Python", 1234, True, 12.5)

Welcome to Python 1234 True 12.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print("Welcome to Python", 1234, True, 12.5, sep='-')

Welcome to Python-1234-True-12.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print("Welcome to Python" , end=' ')
print(123, end=' ')
print(True, end=' ')
print(12.5, end=' ')

Welcome to Python 123 True 12.5

In [4]:
print("Hello" + "Hi")

HelloHi

4) Can a python print function take no value to print???

In [8]:
Yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [22]:
name = "Mr.Ahmad"
age = 30
prf = "Lawer"
course = "Bachelors in Law"
firm = "Himalya Associates"
loc = "Karachi"
height = 5.10
weight = 70600
income = 200000
is_Handsome = True

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [7]:
passout = 2005
current_year =2023
print(current_year-passout)

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
working_year = 2015
current_year = 2023
print(current_year-working_year)

8

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [26]:
income = 200000
usd = income/ 285

print("Mr.Ahmad's income in $ is", round(usd,1))

Mr.Ahmad's income in $ is 701.8

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [27]:

print("Mr.Ahmad's income in $ is", int(usd))

Mr.Ahmad's income in $ is 701

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [18]:
weight = 70600
print(weight)
print(weight/1000)

70600
70.6

11) print the year of birth of Mr. Ahmed.

In [19]:
current_year = 2023
age = 30
print("Mr.Ahmad's Year of birth is ",current_year-age)

Mr.Ahmad's Year of birth is  1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [29]:
rs = 100
div = 6
print(rs%div)

4